.leaflet-control-geosearch.bar {
  width: 60%
}

p.header {
  margin-top: 3em;
}

main.container {
  text-align: center;
}

button {
  width: 6em;
  margin-top: 1em;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 1em 0 0 0;
}

.messages {
  color: red;
}