.App-header {
  margin-top: 0.5em; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-family: "Snell Roundhand", "cursive";  
}

.App-link {
  padding-right: 1em; 
  color: palevioletred
}

.leaflet-control-geosearch.bar {
  width: 60%
}